/* Reset e base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", sans-serif;
  background: #fdf8f6;
}

/* Layout principal */
.layout {
  display: flex;
  min-height: 100vh;
  flex-direction: row;
}

/* Lado esquerdo com imagem */
.left {
  flex: 1;
  background: url("/fotos-casamento.jpg") center/cover no-repeat;
  position: relative;
}

.overlay {
  background: rgba(0, 0, 0, 0.6);
  height: 100%;
  color: #fef8f4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 2rem;
}

.overlay h1 {
  font-size: 3rem;
  font-family: "Playfair Display", serif;
  margin-bottom: 1rem;
}

.overlay p {
  font-size: 1.5rem;
  font-weight: 300;
}

/* Lado direito com informações */
.right {
  flex: 1;
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.subtitle {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: #666;
  text-align: center;
}

.countdown {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.countdown div {
  text-align: center;
}

.countdown span {
  font-size: 2.5rem;
  color: #444;
  font-weight: bold;
}

.countdown label {
  display: block;
  margin-top: 0.3rem;
  font-size: 1rem;
  color: #888;
}

.gallery {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2rem;
}

.gallery img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 10px;
  border: 1px solid #ddd;
}

.creditinho {
  font-size: 0.9rem;
  color: #999;
  font-style: italic;
  text-align: center;

  position: absolute;
  bottom: 1rem;
}

@media (max-width: 768px) {
  .layout {
    flex-direction: column;
  }

  .left {
    flex: none;
    height: auto;
    max-height: 250px;
    background-size: cover;
    background-position: center;
  }

  .overlay {
    padding: 3rem 1rem 1.5rem 1rem;
  }

  .overlay h1 {
    font-size: 2rem;
  }

  .overlay p {
    font-size: 1.2rem;
  }

  .right {
    padding: 2rem 1rem;
    margin-top: 0; /* remove espaçamento extra */
    align-items: center;
    justify-content: start;
  }

  .countdown span {
    font-size: 2rem;
  }

  .gallery img {
    width: 70px;
    height: 70px;
  }
}
